<body>
    <!-- into section -->
    <div
        class="h-1/2 lg:h-screen bg-gradient-to-t from-indigo-200 dark:from-slate-800 dark:to-slate-900 relative overflow-hidden">
        <!-- works -->
        <div id="works" class="bg-bg-primary text-text-primary">
            <div class="container mx-auto">
                <!-- top -->
                <div class="flex flex-col gap-3 items-center">
                    <h1 class="text-indigo-600 font-bold">PORTFOLIO</h1>
                    <h1 class="text-3xl dark:text-white">Works & Projects</h1>
                    <p class="w-1/2 text-center text-gray-400">
                        I help designers, small agencies and businesses bring their ideas to
                        life. Powered by Figma, VS Code and coffee, I turn your requirements
                        into a well-designed websites
                    </p>
                </div>
                <!-- bottom -->
                <div class="p-5 sm:p-0 flex flex-wrap justify-between">
                    <!-- card -->
                    <div
                        class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg my-3 md:my-10 m-1 transition-all hover:scale-110">
                        <img src="/assets/img/item.png" />
                    </div>
                    <!-- card -->
                    <div
                        class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg my-3 md:my-10 m-1 transition-all hover:scale-110">
                        <img src="/assets/img/item.png" />
                    </div>
                    <!-- card -->
                    <div
                        class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg my-3 md:my-10 m-1 transition-all hover:scale-110">
                        <img src="/assets/img/item.png" />
                    </div>
                    <!-- card -->
                    <div
                        class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg my-3 md:my-10 m-1 transition-all hover:scale-110">
                        <img src="/assets/img/item.png" />
                    </div>
                    <!-- card -->
                    <div
                        class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg my-3 md:my-10 m-1 transition-all hover:scale-110">
                        <img src="/assets/img/item.png" />
                    </div>
                    <!-- card -->
                    <div
                        class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg my-3 md:my-10 m-1 transition-all hover:scale-110">
                        <img src="/assets/img/item.png" />
                    </div>
                    <!-- card -->
                    <div
                        class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg my-3 md:my-10 m-1 transition-all hover:scale-110">
                        <img src="/assets/img/item.png" />
                    </div>
                    <!-- card -->
                    <div
                        class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg my-3 md:my-10 m-1 transition-all hover:scale-110">
                        <img src="/assets/img/item.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>